.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
 
.btn-primary {
  background-color: #fa9ed1;
  color: #fff;
  border-color: #f883c4;
}
.btn-primary:hover {
  background-color: #fa8bc8;
  color: #fff;
  border-color: #fc6aba;
}

.btn-primary:not(:disabled):not(.disabled):active{
  background-color: #f876be;
  color: #fff;
  border-color: #fc6aba;
}

.btn-primary:focus {
  background-color: #f876be;
  color: #fff;
  border-color: #fc6aba;
}

.error {
  font-size: 12px;
  font-weight: lighter;
}